{% extends 'base.html' %}
{% load custom_tag %}
{% block title %} List of products {% endblock %}

{% block content %}  
    {{view}}
    {{paginator}}
    {{is_paginated}}

    {{ key }}
    {% for obj in object_list %}
        {{obj.title|swapcase}}
    {% endfor %}
    <br><br>

    <h1>Featured Products</h1>
    {% include 'includes/featured.html' %}

    <br>
    <br>
    
    <h1>Featured Products with simple tag</h1>
    {% get_featured_products as objects %}
    {% for featured in objects %}
        <h3>{{featured}}</h3>
    {% endfor  %}

    {% get_some_results 10 %}


{% endblock %}